<div class="dashboard-container">
  <!-- Filtros superiores -->
  <div class="filtros-container">
    <label>
      Desde:
      <input type="date" [(ngModel)]="fechaDesde" />
    </label>
    <label>
      Hasta:
      <input type="date" [(ngModel)]="fechaHasta" />
    </label>
    <label>
      Turno:
      <select [(ngModel)]="turnoSeleccionado">
        <option value="">TODOS</option>
        <option *ngFor="let turno of turnos" [value]="turno">
          {{ turno }}
        </option>
      </select>
    </label>
    <button (click)="aplicarFiltrosLocales()">Filtrar</button>
    <button (click)="quitarFiltros()">Quitar filtros</button>
<button (click)="exportToExcelHorizontalfiltro()">Exportar a Excel</button>
<button (click)="exportToExcelHorizontal()" class="btn btn-success">
  <i class="fas fa-file-excel"></i> Exportar a Excel completo
</button>
<!-- <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)" />
<button (click)="fileInput.click()">Import Excel</button> -->
  </div>

  </div>